@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <h4>Welcome to Monthly Premium Calculator Application</h4>
    <p>Please navigate to <a asp-controller="Home" asp-action="PremiumGenerator">Premium Calculator</a> to calculate monthly premium amount.</p>
</div>
